html,body
{
background-color:gray;
margin:0px;
scroll-behavior:smooth;
}
li
{
display:inline;
font-size:20px;
font-weight:bold;
font-style:italic;
letter-spacing:1px;
padding:0px 50px;
}
li:visited
{
color:purple;
}
li:hover
{
text-decoration:underline;
font-size:25px;
transition:1s ease;
}
ul
{
float:left;
text-align:center;
}
nav
{
background-color:rgba(180,180,180,0.5);
padding:10px 0px;
position:absolute;
width:100%;
}
a
{
text-decoration:none;
color:black;
}
p
{
font-size:20px;
letter-spacing:1px
}
hr
{
background-color:black;
width:100%;
height:5px;
border:none;
}
footer
{
background-color:black;
padding:5px 0px;
text-align:center;
font-weight:bold;
font-style:italic;
color:lime;
letter-spacing:1px;
}
h1
{
color:lime;
}
h2
{
font-style:italic;
}
@media screen and (max-width:600px)
{
li
{
align-items:flex-start;
flex-direction:column;
font-size:12px;
}
li:hover
{
font-size:15px;
}
}
.header
{
background:url(pozadina3.jpg) center fixed;
background-size:100% 100%;
text-align:justify;
padding:200px 100px;
}
.igricediv
{
margin-left:auto;
margin-right:auto;
margin-bottom:100px;
width:80%;
padding:50px;
background-color:rgba(180,180,180,0.5);
border-radius:10%;
}
.svakadiv
{
text-align:center;
display:inline-block;
margin-right:25px;
margin-left:25px;
margin-bottom:25px;
width:25%;
padding:50px;
background-color:rgba(120,120,120,0.5);
border-radius:30%;
}
.kumdiv
{
text-align:center;
display:inline-block;
margin-right:25px;
margin-left:200px;
margin-bottom:25px;
width:25%;
padding:50px;
background-color:rgba(120,120,120,0.5);
border-radius:30%;
}
.svakadiv:hover
{
background-color:rgba(60,60,60,0.5);
transition:1s ease;
}
#slike
{
width:150px;
height:150px;
border-radius:50%;
}
#slike:hover
{
width:200px;
height:200px;
transition:1.5s ease;
}
#linija
{
background-color:lime;
width:100%;
height:5px;
border:none;
}
#dugme
{
color:black;
background-color:lime;
padding:10px 20px;
margin-left:10px;
float:left;
}
#dugme:hover
{
transition:0.5s ease;
background-color:rgba(0,255,0,0.5);
}