html,body
{
background-color:gray;
margin:0px;
scroll-behavior:smooth;
}
li
{
display:inline;
font-size:20px;
font-weight:bold;
font-style:italic;
letter-spacing:1px;
padding:0px 50px;
}
li:visited
{
color:purple;
}
li:hover
{
text-decoration:underline;
font-size:25px;
transition:1s ease;
}
ul
{
float:left;
text-align:center;
}
nav
{
background-color:rgba(255,255,255,0.5);
padding:10px 0px;
position:absolute;
width:100%;
}
a
{
text-decoration:none;
color:black;
}
footer
{
background-color:black;
padding:5px 0px;
text-align:center;
font-weight:bold;
font-style:italic;
color:yellow;
letter-spacing:1px;
}
span
{
color:yellow;
font-weight:bold;
font-style:oblique;
}
p
{
font-size:20px;
letter-spacing:0.5px;
}
hr
{
background-color:yellow;
width:25%;
height:5px;
border:none;
margin-left:0px;
}
@media screen and (max-width:600px)
{
li
{
align-items:flex-start;
flex-direction:column;
font-size:12px;
}
li:hover
{
font-size:15px;
}
}
.header
{
background:url(pozadina2.jpg) center fixed;
background-size:100% 100%;
text-align:justify;
padding:200px 100px;
}
.onamadiv
{
margin-left:auto;
margin-right:auto;
margin-bottom:180px;
width:80%;
padding:50px;
background-color:rgba(255,255,255,0.5);
border-radius:20%;
}
#prelaz
{
text-decoration:underline;
font-weight:bold;
}
#prelaz:hover
{
transition:1s ease;
font-size:25px;
}
#dugme
{
color:black;
background-color:yellow;
padding:10px 20px;
margin-left:10px;
float:left;
}
#dugme:hover
{
transition:0.5s ease;
background-color:rgba(255,255,0,0.5);
}
