html,body
{
background-color:gray;
margin:0px;
scroll-behavior:smooth;
}
li
{
display:inline;
font-size:20px;
font-weight:bold;
font-style:italic;
letter-spacing:1px;
padding:0px 50px;
}
li:visited
{
color:purple;
}
li:hover
{
text-decoration:underline;
font-size:25px;
transition:1s ease;
}
ul
{
float:left;
text-align:center;
}
nav
{
background-color:rgba(255,255,255,0.5);
padding:10px 0px;
position:absolute;
width:100%;
}
a
{
text-decoration:none;
color:black;
}
span
{
font-style:italic;
font-weight:bold;
color:royalblue;
}
hr
{
width:55%;
height:5px;
background-color:royalblue;
border:none;
margin-left:0px;
}
footer
{
background-color:white;
padding:5px 0px;
text-align:center;
font-weight:bold;
font-style:italic;
color:black;
letter-spacing:1px;
}
@media screen and (max-width:600px)
{
li
{
align-items:flex-start;
flex-direction:column;
font-size:12px;
}
li:hover
{
font-size:15px;
}
}
.header
{
background:url(pozadina.jpg) center fixed;
background-size:100% 100%;
text-align:left;
padding:300px 100px;
}
.pocetnadiv
{
margin-right:auto;
margin-left:auto;
margin-bottom:80px;
width:75%;
padding:50px;
background-color: rgba(255,255,255,0.5);
}
#dugme
{
color:white;
background-color:black;
padding:10px 20px;
margin-left:10px;
float:left;
}
#dugme:hover
{
transition:0.5s ease;
background-color:rgba(136,136,136,0.5);
}